.container 
{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.list
{
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: disc;
}
.button {
  margin-left: 15px;
}
